*.sw?
files
*.debhelper
*.debhelper.log
tmp
dsh
*.substvars
ocfs2-tools.o2cb.default
ocfs2-tools.o2cb.init
ocfs2-tools.ocfs2.init
ocfs2-tools
ocfs2-tools-static-dev
stamp-patched
ocfs2console
ocfs2-tools-dev.debhelper.log
ocfs2-tools-dev
ocfs2-tools.debhelper.log
stamp-autotools
stamp-autotools-files
stamp-makefile-build
stamp-makefile-install
autoreconf.after
autoreconf.before
ocfs2-tools-cman
ocfs2-tools-pacemaker